name: "haap"
description: "HA access point"
version: "1.0.11"
slug: "haap"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
host_network: true
host_dbus: true
full_access: true
privileged:
  - NET_ADMIN
  - SYS_ADMIN
map:
  - config:rw
  - etc:rw
