name: "Raspberry Pi Router"
description: "Configures the Raspberry Pi 5 to act as a network router between end0 and enu1"
version: "1.0.1"
slug: "rpi-router"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
